<div class="mt-4"></div>
<div class="card">
    <div class="card-body">
        <h4>
            {{employee.firstName}} {{employee.lastName}}
        </h4>

        <div *ngIf="employee.isRegular" class="badge bg-success">
            Regular
        </div>
        <div *ngIf="!employee.isRegular" class="badge bg-danger">
            Probation
        </div>
        <hr/>
        <button (click)="handleDelete()" class="btn btn-danger">
            Delete
        </button>
        <button (click)="handleEdit()" class="btn btn-secondary">
            Edit
        </button>
    </div>
</div>